@model IEnumerable<Zelfhulpgroep>
@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    var clientGroupList = ViewData["clientGroep"] as IEnumerable<ClientZelfhulpgroep>;
    var userId = ViewData["loggedUser"].ToString();

    
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    <form action="/ClientZelfhulpgroep/IndexClient" method="get">
        <label for="Naam">Zoek op onderwerp:</label>
        <input type="text" id="Naam" name="zoek">
        <input hidden type="text" name="sorteer" value='@ViewData["sorteer"]'>
        <input type="submit" value="Zoek!">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Titel
                    @if ((string)ViewData["sorteer"] == "naam_oplopend")
                    {
                        <a asp-controller="ClientZelfhulpgroep" asp-action="IndexClient"
                        asp-route-sorteer="naam_aflopend">↓</a>
                    }
                    else
                    {
                        <a asp-controller="ClientZelfhulpgroep" asp-action="IndexClient"
                        asp-route-sorteer="naam_oplopend">↑</a>
                    }
                </th>
                <th>
                    Onderwerp
                </th>
                <th>
                    Leeftijdscategorie
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Onderwerp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeeftijdsCategorie)
                    </td>
                    @if (clientGroupList.Where(c => c.IdGroep == item.Id).Any(c => c.IdClient == Guid.Parse(userId)))
                    {
                        <td>
                            <a class="btn btn-success" style="color: white;">Lid</a>
                        </td>

                    }
                    else
                    {
                        <td>
                            <a asp-action="Aanmelden" asp-route-id="@item.Id" class="btn btn-primary">Aanmelden</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
