@model wdpr_h.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nicknaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nicknaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeeftijdsCategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeeftijdsCategorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hulpVerlenerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hulpVerlenerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isKindAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isKindAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OuderAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OuderAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HulpverlenerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HulpverlenerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.User">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
