@model IEnumerable<Hulpverlener>
@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    <form action="/Hulpverlener/IndexClient" method="get">
        <input type="submit" value="Zoek!" class="btn btn-primary m-4">
        <input type="text" id="Naam" name="zoek" placeholder="Zoek op Naam/Spec">
        <label for="Naam">Zoek op specialisme en naam:</label>
        <input hidden type="text" name="sorteer" value='@ViewData["sorteer"]'>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Naam
                    @if ((string)ViewData["sorteer"] == "naam_oplopend")
                    {
                        <a asp-controller="Hulpverlener" asp-action="IndexClient"
                        asp-route-sorteer="naam_aflopend">↓</a>
                    }
                    else
                    {
                        <a asp-controller="Hulpverlener" asp-action="IndexClient"
                        asp-route-sorteer="naam_oplopend">↑</a>
                    }
                </th>
                <th scope="col">
                    Achternaam
                </th>
                <th scope="col">
                    Specialisme
                </th>
                <th scope="col">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Achternaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialisme)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
