@model IEnumerable<wdpr_h.Models.Hulpverlener>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orthopedagoog</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="/Hulpverlener/Orthopedagoog" method="get">
    <label for="Naam">Zoek op naam:</label>
    <input type="text" id="Naam" name = "zoek">
    <input hidden type="text" name = "sorteer" value = '@ViewData["sorteer"]'>
    <input type="submit" value = "Zoek!">
</form>
<a onclick="func()">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
                @if((string)ViewData["sorteer"] == "naam_oplopend") {
                <a asp-controller = "Hulpverlener" asp-action="Orthopedagoog" asp-route-sorteer="naam_aflopend">↓</a>
                } else  {
                 <a asp-controller = "Hulpverlener" asp-action="Orthopedagoog" asp-route-sorteer="naam_oplopend">↑</a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialisme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Naam
            </td>
</tr>
   }
      </tbody>
</body>
</html>