@model wdpr_h.Models.Aanmeld

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Aanmeld</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geboortedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aandoening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aandoening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voorKind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voorKind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heeftVerwijzing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heeftVerwijzing)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
